*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    /* background-color: brown; */
}

nav{
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 99vw;
    align-items: center;
}
nav .logo{
    margin-left: 20px;
    font-size: 30px;
}
nav .logo span{
    font-weight: 1000;
    padding-right: 10px;
}
nav .items{
    margin-right: 20px;
    display: flex;
    gap: 50px;
    font-size: 20px;
}
nav .items a{
    color: black;
    text-decoration: none;
}
.hero{
    max-width: 100vw;
    height: 720px;
    background-image:url('./../img/photo_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containt{
    display: flex;
    font-size: 85px;
    gap: 15px;
    color: white;

}
.containt .first{
    background-color: rgba(99, 96, 96, 0.525);
    width: 130px;
    text-align: center;

}
.projects, .about, .contact, .employees {
    padding: 0 20px;
    max-width: 100vw;
}

.projects h1, .about h1 ,.contact h1, .employees h1{
    padding: 10 0px;
    margin-bottom: 10px;
    border-bottom: 3px solid gray;
}
.projects .projects-container, .employees .employees-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.projects .projects-container .card, .employees .employees-container .card{
    max-width: 50%;
    position: relative;
    margin-bottom: 50px;
}
.projects .projects-container .card p{
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
}
.projects .projects-container .card img{
    width: 100%;
}
.about p{
    text-align: justify;
    padding-top: 10px;
}
.contact form{
    width: 100%;
    margin-top: 30px;
    
}
.contact input, .contact textarea{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}
.contact textarea{
    height: 70px;
}
.contact .sub{
    width: 180px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 27px;
}
.employees{
    margin-top: 50px;
}
.employees .employees-container .card{
    position: static;
}
.employees .employees-container .card img{
    width: 100%;
}
.employees .employees-container .card .info{
    width: 50%;
}
.employees-container .card p{
    padding-top: 10px;
}
.employees-container .card .job{
    color: gray;
}
.employees-container .card button{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
footer{
    max-width: 100vw;
    height: 50px;
    margin: 10 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: white;
}
footer span{
    color: yellow;
}